# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/

# PyCharm
.idea/

# VS Code
.vscode/


# AoC input files
input*.txt

# Session-file
session.txt

# Binaries
*.exe
*.obj